/.idea

algorithm/.idea
algorithm/target

# Client ignores
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*
client/node_modules
client/dist
client/dist-ssr
client/*.local
client/.vscode/*
client/!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?


# Server ignores
server/dist
server/node_modules
server/logs
server/*.log
server/npm-debug.log*
server/pnpm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/lerna-debug.log*
server/.DS_Store
server/coverage
server/.nyc_output
server/.idea
server/.project
server/.classpath
server/.c9/
server/*.launch
server/.settings/
server/*.sublime-workspace
server/.vscode/*
server/!.vscode/settings.json
server/!.vscode/tasks.json
server/!.vscode/launch.json
server/!.vscode/extensions.json

server/spark/*
server/!spark/*.jar