$background1: #1f1f1f;
$background2: #2d2d2d;

$color1: #fff;
$color2: rgb(183, 183, 183);

.color-1 {
  color: $color1;
}

.color-2 {
  color: $color2;
}

.background-color2 {
  background-color: $background2;
}